@import url('htto://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background:transparent;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.home-text {

    max-width: 600px;
}

.logo{
    font-size: 25px;
    color: rgba(0,212,255,0.5943627450980392);
    text-decoration: none;
    font-weight: 600;
}

#navbar a {
    font-size: 15px;
    color: wheat;
    text-decoration: none;
    margin-left: 50px;
    font-weight: 500;
    transition: .5s;
}

#navbar a:hover {
    color: rgb(115, 115, 145);
}

.buttons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 2px solid rgba(0,212,255,0.5943627450980392);
    background-color:rgba(0,212,255,0.5943627450980392) ;
    border-radius: 10px;
    text-align: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.buttons a:nth-child(2) {
    background-color: transparent;
    color: rgba(0,212,255,0.5943627450980392);
}

.buttons a:nth-child(1) {
    color: blue
}

.buttons a::before {
    background-color: rgb(21, 30, 193);
}

.buttons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(108, 108, 222);
    z-index: -1;
    transition: .5s;
}

.buttons a:hover::before {
    width: 100%;
}

body {
    background: url(./images/best.png) no-repeat;
    background-size: cover;
    background-position: center;
}


h1 {
    color: rgba(29,41,253,1);
    font-weight: 800;
    margin-top: 50px;
}
#sec-two > div h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
    color:  rgb(134, 172, 184);
    margin-top: 70px;
}

#container p {
    font-weight: 700; 
}

.lead {
    font-weight: 900; 
    color: rgba(0,212,255,0.5943627450980392);
}

.about-para {
    color: rgba(29,41,253,1);
    font-family:sans-serif; 
    margin-top: 50px;
}

.about-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container2 > div >h2 {
    display: flex;
    justify-content: center;
    font-family:sans-serif;
    margin-top: 20px;
    margin-bottom: 100px;
    color: rgb(134, 172, 184);
}
h3 {
    color: rgba(0,212,255,0.5943627450980392);
    font-family:sans-serif;
    font-weight: 700;

}

#last-sec {
    margin-top: 150px;
}

.social-sec {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
    margin-left: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    width: 170px;
}
.social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid  rgba(0,212,255,0.5943627450980392);
    border-radius: 50%;
    font-size: 20px;
    color: rgba(0,212,255,0.5943627450980392);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.social a:hover {
    color: blue;
}

.social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0,212,255,0.5943627450980392);
    z-index: -1;
    transition: .5s;
}

.social a:hover::before {
    width: 100%;
}

@media (min-width: 320px) and (max-width: 1024px) {
    body {
        background: url(./images/small\ screen\ size.png) no-repeat;
        background-size: cover;
        background-position: center; 
      }

    .header {
        background-color: blue;
    }


    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .social-sec {
        display: flex;
        margin-top: 30px;
        margin-bottom: 50px;
        gap: 20px;
        margin-left: 10px;
    }

    .social {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 700px;
        width: 170px;
    }

    body {
        width: 200px;
        height: 200px;
        background: url(./images/best.png) no-repeat;
        background-size: cover;
        background-position: center;
        animation-name: color;
        animation-duration: 3s;
      }


      @keyframes color {
        from {background-color: black;}
        to {background-color: lightblue}
      }


}

